.profile-header {
  min-height: 250px;
  background: linear-gradient(to bottom right, #63D075 0%, #63D075 50%, #ADFFBB 120%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
