.title-section {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date-section {
  height: 56px
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: $light-gray;
}
