.facebook-login-btn {
  height: 40px;
  width: 180px;
  background-color: $fb-login-blue;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.facebook-login-btn a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.facebook-btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-with-facebook {
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

.continue-with-facebook-text {
  flex-grow: 1;
}

.facebook-login-btn:hover {
    background-color: #8b9dc3;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1)
}

.facebook-login-btn:active {
    background-color: #8b9dc3;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1)
}

.facebook-login-btn:focus {
    background-color: #8b9dc3;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1)
}
