.settle-up-button {
  height: 46px;
  width: 180px;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.remind-button {
  height: 46px;
  width: 180px;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
