<div class="container">
  <div class="plain-card-content-center-vertical-max-height">
    <div class="text-center">
      <h3>Looks like this group is empty right now...</h3>
      <p>Tell your friends to click on the Kitty application or message link to join!</p>
    </div>
  </div>

  <% if @group.users.length == 1 %>
  <script>
  function autoRefresh1(){
    window.location.reload();
  }
  setInterval('autoRefresh1()', 5000);
  </script>
  <% end %>
</div>
