<div class="container">
  <div class="plain-card-content-center-vertical-max-height">
    <div class="text-center">
      <h3>Looks like no one owes you right now...</h3>
      <p>You can only remind people to pay you back if they owe you money. Make sure you added the expense!</p>
    </div>
  </div>
</div>
