<div class="container">
  <div class="plain-card-content-center-vertical-max-height">
    <div class="text-center">
      <h3>Looks like you and your friends have no outstanding expenses...</h3>
      <p>Good work! Although, maybe you just aren't using Kitty enough.</p>
    </div>
  </div>
</div>
