<% @title = "Loading..." %>

<div class="plain-card-content-center-vertical-max-height">
  <div class="text-center">
    <i class="fa fa-spinner fa-pulse fa-lg navigation-link no-margin color-primary fa-3x" aria-hidden="true"></i>
    <% fun_arr = ["Using litter responsibly", "Compawling the database", "Purrsuading your mates to join", "Ensuring purrrfect operation", "Cat-aloging expenses", "Preventing cat-astrophe"] %>
    <div class="title-section">
      <div class="text mt-5 pt-5">
        <p class="mb-2 text-center" style="font-weight: 300; color: grey; letter-spacing: 2px; font-size: 0.8rem;">Please don't close while loading.</p>
        <p class="mb-2 text-center" style="font-weight: 300; color: grey; letter-spacing: 2px; font-size: 0.8rem;">Hold on we're just...</p>
        <p class="no-margin text-center pulsate" id="header" style="font-weight: 300; color: grey; letter-spacing: 2px;"><%= fun_arr.sample.upcase %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>
